.list{
	width: 100%;
	margin-top: 2rem;
}

.listTitle{
	color: #fff;
	font-size: 1.5rem;
	margin-left: 50px;
}

.wrapper{
	position: relative;
	margin-top: 2rem;
}

.wrapper>.container{
	margin-left: 50px;
	display: flex;
	width: max-content;
}

.sliderArrow{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 50px!important;
	height: 100%!important;
	cursor: pointer;
	z-index: 1;
}

.left{
	left: 0;
}

.right{
	right: 0;
}